body {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------- Section Main ------------------------------------------------------------------*/
.main {
  background-color: #1f1f1f;
  height: 46vh;
}
.main .back-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #1F1F1F 0%, rgba(34, 34, 34, 0.37) 23.02%, rgba(34, 34, 34, 0.00) 50%), url(./photos/Back-Images.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;

}
.main .container {
  width: 80%;
  position: relative;
}
.main .container .header .right .bar{
  display: none;
  color: white;
  
}
.main .container .header .right .bar .offcanvas{
  position: absolute;
  height: 100vh;
  width: 300px;
  background: #000;
  left: -15%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  z-index: 11;
}
.main .container .sound{
  cursor: pointer;
position: absolute;
right: 1%;
top: 70%;
padding: 10px 11px;
border-radius: 50%;
border-width: 1px;
border-style: solid;
border-top-color: rgba(12,249,239,1);
border-right-color: #86b7f8;
border-left-color: #86b7f8;
border-bottom-color: #D78BFE;
display: flex;
justify-content: center;
}
.main .container .header {
  padding-top: 50px;
  display: flex;
}
.main .container .header .left {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.main .container .header .left .logo {
  width: 20%;
  color: #fff;
  font-size: 25.2px;
  font-style: normal;
  font-weight: bold;
  font-weight: 400;
  line-height: 120%; /* 30.24px */
  display: flex;
  align-items: center;
}
.main .container .header .left .menu {
  width: 60%;
  padding: 14.623px 21px 11.425px 27px;
  gap: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .container .header .left .menu .menu-link {
  cursor: pointer;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.main .container .header .left .menu .menu-link i {
  font-size: 12px;
}
.main .container .header .left .menu .link-menu {
  position: relative;
}
.main .container .header .left .menu .link-menu .submenu {
  position: absolute;
  width: 30px;
  padding: 17px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  top: 60%;
  z-index: 10;
  border-radius: 6.977px;
  background: rgba(255, 255, 255, 0.16);
}
.main .container .header .left .menu .link-menu .submenu li {
  list-style: none;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.main .container .header .left .menu .link-menu .submenu li:hover {
  margin-left: 5px;
}
.main .container .header .left .menu .link-menu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.main .container .header .right {
  width: 70%;
  display: flex;
  justify-content: end;
}
.main .container .header .right .bar{
  cursor: pointer;
}
.main .container .header .right .bar .offcanvas{
  z-index: 1111;
}
.main .container .header .right .bar .offcanvas .top .menu{
  margin-top: 50px;
}
.main .container .header .right .bar .offcanvas .top h1{
  font-size: 26px;
}
.main .container .header .right .watchList {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 43px;
  padding: 0px 32px;
  color: white;
  border-radius: 8px;
  background: radial-gradient(
    107.32% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -2.418426275253296px -2.418426275253296px 120.92131805419922px 0px
    rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(5px);
}
.main .container .header .right .watchList i {
  margin-left: 10px;
  font-size: 12px;
  color: #e24d4d;
}
.main .container .header .right .btn {
  cursor: pointer;
  position: absolute;
  right: 11%;
  top: 20%;
  padding: 7px 8px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 11;
  background: radial-gradient(
    107.32% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -1.1487524509429932px -1.1487524509429932px 57.43762969970703px 0px
    rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(2.375px);
}
.main .container .header .right .btn i {
  margin: 0;
  color: white;
  font-size: 10px;
  margin-top: 2px;
}
.main .container .header .right ul {
  position: absolute;
  width: 240px;
  height: 211.572px;
  padding: 17px;
  overflow-y: scroll;
  right: 12%;
  top: 20%;
  z-index: 10;
  border-radius: 6.977px;
  background: radial-gradient(
    107.32% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -2.1092333793640137px -2.1092333793640137px 105.46166229248047px 0px
    rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(4.360755920410156px);
}
.main .container .header .right ul::-webkit-scrollbar {
  width: 6px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: -1.7471857070922852px -1.7471857070922852px 104.83114624023438px 0px
    rgba(0, 0, 0, 0);
  backdrop-filter: blur(17.47185707092285px);
}
.main .container .header .right ul::-webkit-scrollbar-thumb {
  /* Add rounded corners to the thumb */
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(
    146deg,
    rgba(12, 249, 240, 0.5) 0%,
    rgba(214, 134, 255, 0.5) 100%
  );
  box-shadow: -3.8567774295806885px -3.8567774295806885px 192.83888244628906px 0px
      rgba(255, 255, 255, 0.02) inset,
    0px 0px 3.4943714141845703px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.973733425140381px);
}
.main .container .header .right ul li {
  list-style: none;
  margin-bottom: 10px;
}
.main .container .header .right ul li .box {
  display: flex;
  background-color: #1f1f1f;
}
.main .container .header .right ul li .box .img {
  width: 30%;
}
.main .container .header .right ul li .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .container .header .right ul li .box .txt {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main .container .header .right ul li .box .txt p {
  color: #fff;
  font-size: 8.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.main .container .header .right ul li .box .txt i {
  color: #ffffff;
}
.main .container .header .right .signin {
  position: relative;
  display: flex;
  width: 57px;
  height: 43px;
  padding: 0px 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: white;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  cursor: pointer;
}
.main .container .header .right .button {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 31%;
  background-color: black;
  padding: 14px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 111;
  background: radial-gradient(
    107.32% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -1.1487524509429932px -1.1487524509429932px 57.43762969970703px 0px
    rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(2.375px);
}
.main .container .header .right .button i {
  color: #fff;
}
.main .container .header .right .register {
  z-index: 11;
  position: absolute;
  top: 50%;
  right: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  background: radial-gradient(
    107.32% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -2.418426275253296px -2.418426275253296px 120.92131805419922px 0px
    rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(7.5px);
  color: white;
}
.main .container .header .right .register .register-main{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .container .header .right .register .register-main .box{
  width: 100%;
}
.main .container .header .right .register .register-main .box input{
  width: 100%;
  height: 32px;
  border-radius: 8px;
  background: #0D0D0D;
  color: white;
  padding-left: 20px;
  border-top-color: rgba(12,249,239,1);
  border-right-color: #86b7f8;
  border-left-color: #86b7f8;
  border-bottom-color: #D78BFE;
}
.main .container .header .right .register .register-main .forgot{
   width: 100%;
   text-align: end;
}
.main .container .header .right .register .register-main .btns{
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .header .right .register .register-main .btns .sign{
  cursor: pointer;
}
.main .container .header .right .register .register-main .btns .sign-in{
  cursor: pointer;
  display: flex;
padding: 14px 59px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 55px;
border-width: 1px;
border-style: solid;
border-top-color: rgba(12,249,239,1);
border-right-color: #86b7f8;
border-left-color: #86b7f8;
border-bottom-color: #D78BFE;
background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: -3.325335741043091px -3.325335741043091px 166.2667999267578px 0px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(6.875px);
}
.main .container .header .right .register .register-main .txt{
  padding-top: 30px;
  
}
.main .container .header .right .register .register-main .txt p{
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
}
.main .container .header .right .register .register-main .txt p a{
  color: rgba(255, 255, 255, 0.60);
}
.remove {
  opacity: 0;
  visibility: hidden;
}

/*------------------------------------------------------------ Section Slider -----------------------------------------------------------*/

.slider{
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.slider .container {
  width: 80%;
  margin: 40px 0px 150px 0px;
}
.slider .container .cards{
  position: relative;
 
}
.slider .container .cards .buttons .btn{
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 111;
}
.slider .container .cards .buttons .btn svg{
  width: 56px;
  height: 53px;
  
}
.slider .container .cards .buttons .prev{
position: absolute;
top: 27%;
left: 0%;
}
.slider .container .cards .buttons .next{
  position: absolute;
  top: 27%;
  right: 0%;
}

.slider .container .cards .box {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.slider .container .cards .box::-webkit-scrollbar {
  width: 0;
}

.slider .container .cards .box .card .card-img{
  width: 100%;
}
.slider .container .cards .box .card .card-img img{
  width: 100%;
}
.slider .container .cards .box .card .card-text{
  color: white;
  
}

.slider .container .cards .box .card{
  cursor: pointer;
  margin-right: 20px;
  flex: 0 0 auto;
  width: 270px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 6.583px;
 }
.slider .container .cards .box .card:hover{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 320px;
  background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: -2.244035243988037px -2.244035243988037px 112.2017822265625px 0px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(7.5px);

}
.slider .container .cards .box .card .text{
  display: none;
}
.slider .container .cards .box .card:hover .text{
  display: block;
  color: white;
}
.slider .container .cards .box .card:hover .card-text{
  display: none;
}
.slider .container .cards .box .card .text .top{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider .container .cards .box .card .text .top p{
  font-size: 14px;
}
.slider .container .cards .box .card .text .top span{
  font-size: 10px;
}
.slider .container .cards .box .card .text .bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.slider .container .cards .box .card .text .bottom .icon{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6px;
  margin-right: 5px;
  border-radius: 50%;
  background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: -2.062026023864746px -2.062026023864746px 103.10130310058594px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(4.263156890869141px);
}
.slider .container .cards .box .card .text .bottom .icon:nth-child(2){
  background: radial-gradient(107.32% 141.42% at 0% 0%, #0CF9F0 0%, #D686FF 100%);
box-shadow: -2.5393476486206055px -2.5393476486206055px 126.9673843383789px 0px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(5.250000476837158px);
}
.slider .container .cards .box .card .text .bottom .icon svg{
  width: 15px;
height: 15px;
}




/* --------------------------------------------------------------- Media ------------------------------------------------------------------*/
@media (max-width: 1312px){
    .main .container .header .left .menu .menu-link {
        font-size: 12px;
    }
    .main .container .header .left .menu .menu-link i{
        font-size: 8px;
    }
}

@media (max-width: 1250px){
    .main .container .header .left {
        width: 50%;
    }
}
@media (max-width:992px){
  .main .container .header .right .register{
    right: 20%;
  }
  .main .container .header .right .button{
    right: 19%;
  }
  .main .container .header .right ul{
    right: 20%;
    top: 28%;
  }
  .main .container .header .right .btn {
    right: 19%;
    top: 29%;
  }
}
@media (max-width: 900px){
    .main .container .header .left .logo {
        font-size: 20.2px;
    }
    .main .container .header .left .menu {
        padding: 14.623px 17px 11.425px 27px;
        gap: 4px;
    }
    .main .container .header .left .menu .menu-link{
        font-size: 10px;
    }
    .main .container .header .right .watchList {
        padding: 0px 27px;
        font-size: 12px;
    }
    .main .container .header .right .watchList i {
        font-size: 10px;
    }
    .main .container .header .right .signin {
        padding: 0px 27px;
        font-size: 12px;
    }
}

@media (max-width: 768px){
    .main .container .header .left .menu {
        display: none;
    }
    .main .container .header .right .watchList {
        display: none;
    }
    .main .container .header .right .signin {
        display: none;
    }
    .main .container .header .right .bar{
        display: block;
    }
}

@media(max-width: 350px){
  .main .container .header .right .bar .offcanvas{
    width: 200px;
}
}